# 忽略環境變數設定檔，避免上傳到 GitHub 使密碼外洩
.env

# 忽略python虛擬環境
.venv/
venv/

# 忽略python快取檔案
__pycache__/
*.pyc

work_plan/
temp/
.vscode
*.txt
*.png
*.jpg

# 避免未來建立其他環境變數檔被意外上傳
.env.*

# 常見的日誌檔
*.log

# 作業系統自動產生的快取檔
.DS_Store
Thumbs.db

# 如用 PyCharm 開發
.idea/
